body{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.container{
    padding: 20px;
    margin: 20px;
}

.main{
    font-weight: 600;
    font-size: larger;
}

input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}